h1 {
	padding-left: 110px;
	font-size: 100px;
	color: whitesmoke;
}
body {
	 
	 background-color:black;
	 background-size: cover;
	 background-position: center;


}

.title {
	border-bottom:3px solid  #808080;
}

.container  {
	display: flex;
}

.images {
	height: 120px;
 	width: 120px;
 	border-radius: 50px;
}

figcaption {
	padding-left: 30px;
	color: whitesmoke;
}
p {
	color: whitesmoke;
	font-weight: 100;
	font-display: auto;
	font-size: 50px;
	text-align:center;
}
